@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
}


header section{
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

header section .phone {
margin-right: 30px;

}

header section .login_form
 {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: 400px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 40px 40px 20px;

}

header section .login_signUp{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin:10px 0 20px;
    padding: 20px 40px;
    font-size: 14px;
    color:#262626;
    text-align: center;
}



header .login_logo img {
    display: block;
    margin: 0 auto 35px;
    width: 145px
}


header form input{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    border:1px solid #efefef;
    background-color:#fafafa;
    margin-bottom: 5px;
}
header form .login_input input:focus{
    border:1px solid #b2b2b2;
}


header form .login_btn{
    background-color: #3897f0;
    border-radius: 3px;
    border:1px solid #ffffff;
    text-align: center;
    padding:3px;
    margin-top: 10px;

}

header .login_or {
    margin-top:20px;
}
header .login_or p{
    padding: 10px;
    display: flex;
    flex-direction: row;
    color:#999;
    font-size:12px;
}

p:before, p:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #efefef;
    margin: auto;
}

header .login_facebook {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;
}

header .login_facebook img{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

header .login_facebook {
    font-size: 14px;
}

header .login_forgot{
    font-size: 12px;
    text-align: center;
}

header section .login_app p{
    font-size: 14px;
    text-align: center;
}

header section .login_app .login_icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}


.wrapper footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 930px;
    margin:0 auto;
    padding: 40px 0;
}


.wrapper footer .login_link ul {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
.login_link {
    width: 80%;
}

.wrapper footer .login_link ul li a{
    font-size: 12px;
    color: #003569;
}

.wrapper footer .login_copyright{
    color: #999;
}


